{%extends "registration/base.html"%} {% load bootstrap3 %}
{% block content %}
<div class="container-fluid" style="background-color:rgb(0,0,0,0.9);">
        <div class="row" style="margin-left:35%;">
                <div class="col-md-1 col-sm-1" style="margin-top:21%;">
                    <i id="title" class="fab fa-instagram" style="font-size:40px;"></i>
                </div>
                <div class="col-md-8 col-sm-1" style="margin-top:20%;">
                    <h4 id="title" style="font-family: 'Pacifico', cursive;font-size:40px;">InstagramNight</h4>
                </div>
            </div>
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-4 col-sm-4">
        </div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Some Information Might be Incorrect </p>
            {% endif %}
            <div id="register" style="z-index:3;">
                <form action="/accounts/register/" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}
                    <div class="form-group" style="margin-left:40%;">
                        <input type="submit" class="btn-lg btn-outline-info" value="Sign Up">
                    </div>

                    <input type="hidden" name="next" value="{{next}}">

                </form>

            </div>
            <!-- empty div -->
            <div class="col-md-4" style="margin-top:60%;"></div>
        </div>
    </div>
</div>

{% endblock %}