{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid" id="profile">
    <div class="row" id="top">
        <div class="col-sm-2 col-md-4" style="margin-top: 7%;">
        </div>
        <div class="col-sm-3 col-md-5">
            <img src="{{user.profile.profile_pic.url}}" alt="" id="profilepic" class="img-fluid">
            <form  action="{%url 'edit'%}" method="post" enctype="multipart/form-data" style="margin-top:10%;">
                  {% csrf_token %}
              
                  {% bootstrap_form form layout='inline'%}
                  <input type="submit" class="btn-lg btn-outline-info" value="Update">
            </form>
            <div style="margin-top:1%;">
                <p>{{user.profile.bio}}</p>
            </div>
        </div>
    </div>
    <div class="nav navbar-nav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </div>
            <div class="nav navbar-nav navbar-right">
                <ul class="nav" id="mynav">
                    <li class="nav-item" id="first">
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/timeline">
                            <i class="fas fa-th"></i> Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-hashtag"></i>
                            Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/profile">
                            <i class="fas fa-cog"></i> Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-bookmark"></i> Saved</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}