{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid" id="profile">
    <div class="row" id="top">
        <div class="col-sm-1 col-md-2" style="margin-top: 7%;">
            <p>FOLLOWING</p>
            <p>{{followingcount}}</p>
        </div>
        <div class="col-sm-1 col-md-2" style="margin-top: 7%;">
            <p>FOLLOWERS</p>
            <p>{{followercount}}</p>
        </div>
        <div class="col-sm-2 col-md-4">
            {% if user.profile.profile_pic.url %}
            <img src="{{user.profile.profile_pic.url}}" alt="" id="profilepic" class="img-fluid">
            {% else %}
            <form  action="{%url 'profile' %}" method="post" enctype="multipart/form-data" style="margin-top:10%;">
                {% csrf_token %}
            
                {% bootstrap_form form layout='inline'%}
                <input type="submit" class="btn-lg btn-outline-info" value="Add Profile">
            </form>
            {% endif %}
            <h3 style="margin-top:7%;letter-spacing:5px;font:bold;font-size: 50px;">@{{user.username}}</h3>
        </div>
        <div class="col-sm-1 col-md-2" style="margin-top: 7%;">
            <button type="button" class="btn-lg btn-outline-success">FOLLOW</button>
        </div>
        <div class="col-sm-1 col-md-2" style="margin-top: 7%;">
            <button type="button" class="btn-lg btn-outline-info">MESSAGE</button>
        </div>
    </div>
    <div style="margin-top:1%;">
        <p>{{user.profile.bio}}</p>
    </div>
    <div class="row" id="stories">
        <div class="col-sm-2 col-md-3">
            <div id="story">
            </div>
            <h4 style="margin-top:5%;font:bold;font-size: 20px;">Stories</h4>
        </div>
        <div class="col-sm-2 col-md-3">
            <div id="story">
            </div>
            <h4 style="margin-top:5%;font:bold;font-size: 20px;">coming</h4>
        </div>
        <div class="col-sm-2 col-md-3">
            <div id="story">
            </div>
            <h4 style="margin-top:5%;font:bold;font-size: 20px;">soon!</h4>
        </div>
    </div>
    <div class="nav navbar-nav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </div>
            <div class="nav navbar-nav navbar-right">
                <ul class="nav" id="mynav">
                    <li class="nav-item" id="first">
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'timeline' %}">
                            <i class="fas fa-th"></i> Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'welcome' %}">
                            <i class="fas fa-hashtag"></i>
                            Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{%url 'edit' %}">
                            <i class="fas fa-cog"></i> Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'edit' %}">
                            <i class="fas fa-bookmark"></i> Saved</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" id="parent">
            <div id="child">
                <div id="post">
                    <form  action="{%url 'profile' %}" method="post" enctype="multipart/form-data" style="margin-top:10%;color: white;">
                        {% csrf_token %}
                    
                        {% bootstrap_form form1 layout='inline'%}
                        <input type="submit" class="btn-lg btn-outline-info" value="New Post">
                    </form>
                </div>
            </div>
            {% for post in posts %}
                {% if user.profile.id == post.profile.id %}
                <div id="child">
                    <img src="{{post.pic.url}}" alt="" id="post" class="img-fluid">
                </div>
                {% endif %}
            {% endfor %}
        </div>
</div>
{% endblock %}