{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row" id="timeline">
        <div class="col-md-3 col-sm-3" style="position: fixed;">
            <div class="row" id="others">
                <div class="col-md-5 col-sm-5">
                    <img src="{{user.profile.profile_pic.url}}" alt="" class="img-fluid" id="profilepic2">
                </div>
                <div class="col-md-7 col-sm-7">
                    <h4 style="margin-top:7%;letter-spacing:5px;font:bold;font-size: 30px;">@{{user.username}}</h4>
                </div>
            </div>
            <div class="row" id="suggestions">
                <div class="col-md-10 col-sm-10">
                    <h5 style="color:gray;">Suggestions</h5>
                    {% for each_user in users %}
                    {% if each_user.username != user.username %}
                    <div class="row" id="suggestion">
                        <div class="col-md-5 col-sm-3">
                            <img src="{{each_user.profile.profile_pic.url}}" alt="" class="img-fluid" id="profilepic2">
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h6 style="margin-top:7%;font:bold;font-size: 15px;">{{each_user.username}}</h6>
                        </div>
                        <div class="col-md-3 col-sm-3">
                                <form action="{%url 'timeline' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="follow" value="{{each_user.username}}">
                                    <input type="submit" class="btn btn-outline-success" style="margin-top:40%;"
                                        value="Follow"></input>
                                </form>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <p style="color:grey;font-size: 12px;padding-left:40%;">created by Esther Muigai. Inspiration:Instagram
                </p>
            </div>
        </div>
        <div class="col-md-8 col-sm-8" id="othersposts">
            {% for follow in follows %}
            {% if follow.followed == user.username %}
            <div class="row" id="cardpost">
                <div class="col-md-6 col-sm-6" style="padding: 0%;">
                    <img src="" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="row" style=" padding:2%;">
                        <div class="col-md-4 col-sm-4">
                            <img src="{{follow.user.profile.profile_pic.url}}" alt="" class="img-fluid"
                                id="profilepic3">
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <p style="font-size:15px;">@{{follow.user.username}}</p>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a href="" id="heart2"><i class="fas fa-heart"></i></a>
                            <a href="" id="comment"><i class="fas fa-comment"></i></a>
                            <a href="" id="ellipsis"><i class="fas fa-ellipsis-h"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        </id>
    </div>
    {% endblock %}